#flightTable{

  max-width: 100%;margin-left: auto;max-height: 100%;margin-right: auto;border: 1px solid black;
}

.flightTableth{

  border: 1px solid black;
}

.flightTableHead {
  width: 100%;
}

@media only screen and (max-width: 500px) {
  .flightTableth{

    border: 10px solid black;
  }
}


#flightTableFlightDataFactory {
  margin: 25px 20px 14px 40px;
}

#fTextScope{
  margin-bottom: 4px;
}


.nextPage {
  float: right;
}


