.mapSelfLocaton{
  max-width: 400px;
  max-height: 100%;
  margin-left: auto;
  padding: 10px 0px 50px 100px;
}

@media screen and (min-width: 500px) {
  .mapSelfLocaton{
    max-width: 400px;
    max-height: 100%;
    margin-left: auto;
    padding: 10px 0px 50px 100px;
    font-size: x-large;
    color: #00b3ee;
  }
}


[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-    ng-cloak {
  display: none !important;
}


#slides_control > div{
  height: 200px;
}
img{
  margin:auto;
  width: 400px;
}
#slides_control {
  position:absolute;
  width: 400px;
  left:50%;
  top:20px;
  margin-left:-200px;
}
