
<div id ="flightSearchForm" class="col-md-6">


  <div class="loginPart"><h3>Book Your Journey </h3><br>
    <form  ng-submit="flightSearch()">
      <div class="form-group">
        <label >Outbound</label>
        <input type="text" class="form-control" placeholder="enter your destination city"  id="deptCity" data-ng-bind="destCity" class="ng-pristine">
      </div>
      <div class="form-group">
        <label >Inbound</label>
        <input type="text" class="form-control" placeholder="enter your arrival city" id="arrCity" data-ng-model="inboundCity">
      </div>

<div class="alert alert-info" ng-show="loading"></div>
      <button type="submit" class="btn btn-default" ng-cloak ng-click="flightSearchToflightDetails(onboundCity,inboundCity)">Search your deal</button>
    </form>
  </div>

</div>

<div id="mapSelfLocation" class="mapSelfLocaton ng-cloak" class="col-md-6">model
  <ui-gmap-google-map center='map.center' zoom='map.zoom'>
    <ui-gmap-markers models="places" coords="'self'" icon="'icon'"></ui-gmap-markers>
  </ui-gmap-google-map>
</div>
